# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Python virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# React / Node
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db